<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test1ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>test1|action1</string>
			<key>MethodName</key>
			<string>action1</string>
			<key>PropertyName</key>
			<string>btn1</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
			<key>SubViews</key>
			<dict>
				<key>RedView</key>
				<array>
					<dict>
						<key>EventId</key>
						<string>redView|redViewAction:</string>
						<key>MethodName</key>
						<string>redViewAction:</string>
						<key>PropertyName</key>
						<string>redBtn</string>
						<key>ControlName</key>
						<string>Button</string>
						<key>SuperView</key>
						<string>Test1ViewController|btn1</string>
						<key>SubViews</key>
						<dict>
							<key>GreenView</key>
							<array>
								<dict>
									<key>EventId</key>
									<string>greenView|greenViewAction:</string>
									<key>MethodName</key>
									<string>greenViewAction:</string>
									<key>PropertyName</key>
									<string>greenBtn</string>
									<key>ControlName</key>
									<string>Button</string>
									<key>SuperView</key>
									<string>RedView|Btn1</string>
									<key>SubViews</key>
									<dict>
										<key>YellowView</key>
										<array>
											<dict>
												<key>EventId</key>
												<string>yellowView|yellowViewAction:</string>
												<key>MethodName</key>
												<string>yellowViewAction:</string>
												<key>PropertyName</key>
												<string>yellowBtn</string>
												<key>ControlName</key>
												<string>Button</string>
												<key>SuperView</key>
												<string>GreenView|Btn1</string>
											</dict>
										</array>
									</dict>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test1|action2</string>
			<key>MethodName</key>
			<string>action2</string>
			<key>PropertyName</key>
			<string>btn2</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test1|action3</string>
			<key>MethodName</key>
			<string>action3</string>
			<key>PropertyName</key>
			<string>btn3</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test1|action4</string>
			<key>MethodName</key>
			<string>action4</string>
			<key>PropertyName</key>
			<string>btn4</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
	</array>
	<key>Test2ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>test2|action:</string>
			<key>MethodName</key>
			<string>action:</string>
			<key>PropertyName</key>
			<string>btn1</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test2|action:</string>
			<key>MethodName</key>
			<string>action:</string>
			<key>PropertyName</key>
			<string>btn2</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test2|action:</string>
			<key>MethodName</key>
			<string>action:</string>
			<key>PropertyName</key>
			<string>btn3</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test2|action:</string>
			<key>MethodName</key>
			<string>action:</string>
			<key>PropertyName</key>
			<string>btn4</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test1ViewController</string>
		</dict>
	</array>
	<key>Test3ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>test03|buttonClick</string>
			<key>MethodName</key>
			<string>buttonClick</string>
			<key>PropertyName</key>
			<string>button</string>
			<key>ControlName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test3ViewController</string>
		</dict>
	</array>
	<key>Test4ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>test4|otherButtonClick</string>
			<key>MethodName</key>
			<string>otherButtonClick</string>
			<key>PropertyName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test4ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test4|testClick</string>
			<key>MethodName</key>
			<string>testClick:</string>
			<key>PropertyName</key>
			<string>Button</string>
			<key>SuperView</key>
			<string>Test4ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test4|tapClick</string>
			<key>MethodName</key>
			<string>tapClick</string>
			<key>PropertyName</key>
			<string>view</string>
			<key>ControlName</key>
			<string>UIView</string>
			<key>SuperView</key>
			<string>Test4ViewController</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>test4|cellDidSelect</string>
			<key>MethodName</key>
			<string>tableView:didSelectRowAtIndexPath:</string>
			<key>PropertyName</key>
			<string>UITableViewCell</string>
			<key>ControlName</key>
			<string>UITableViewCell</string>
			<key>SuperView</key>
			<string>Test4ViewController|tableView</string>
		</dict>
	</array>
</dict>
</plist>
